---
layout: tags
title: Posts by Category
permalink: /tag/
---

<div class="tags-expo">
  <div class="tags-expo-list">
    {% for tag in site.tags %}
    <a href="#{{ tag[0] | downcase | slugify }}" class="post-tag">{{ tag[0] }}</a>
    {% endfor %}
  </div>

  <div class="tags-expo-section">
    {% for tag in site.tags %}
    <h3 class="year-section" id="{{ tag[0] | downcase | slugify }}">{{ tag[0] }}</h3>
    <div class="tags-expo-posts">
      {% for post in tag[1] %}
        <article>
          <h3 class="link-post"><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h3>

          <span class="dateline">{{ post.date | date: "%-d %b %Y" }} // </span>
          <span class="dateline">
            {% if post %}
              {% assign tags = post.tags %}
            {% else %}
              {% assign tags = page.tags %}
            {% endif %}
            {% for tag in tags %}
            <a href="{{site.baseurl}}/tag/#{{ tag | slugify }}">{{ tag | downcase }}</a>
            {% unless forloop.last %},&nbsp;{% endunless %}
            {% endfor %}
          </span>
      
      </article>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</div>
