<div class="webpage-header">

    <nav>
      <h3>
        <a href="{{ site.baseurl }}/">Home</a>
      </h3>
    </nav>

    {% if site.headshot %}
      <img src="{{site.headshot | relative_url}}" alt="Headshot" style="padding-bottom:10px;width:110px;height:110px;">
    {% endif %}
    <h2><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h2>

    <div>
        <div> 
          <p> {{ site.jobtitle }} at {{ site.company_name }}<br></p>
        </div>
    </div>

    <div class="social">
        <img src="/assets/img/place_icon.png" height="16" width="16" style="vertical-align: middle;padding-right:5px;">  
        <span style="vertical-align: middle;"> {{ site.location }} </span><br>

    <!-- Twitter -->
      <a href="https://twitter.com/{{ site.twitter }}">
          <img src="https://abs.twimg.com/favicons/twitter.ico" height="16" width="16" style="vertical-align: middle;padding-right:5px;">  
          <span style="vertical-align: middle;"> Twitter </span><br>
      </a>

    <!-- LinkedIn -->
      <a href="https://www.linkedin.com/in/{{ site.linkedin }}">
          <img src="https://static-exp1.licdn.com/sc/h/al2o9zrvru7aqj8e1x2rzsrca" height="16" width="16" style="vertical-align: middle;padding-right:5px;">  
          <span style="vertical-align: middle;"> LinkedIn </span><br>
      </a>

    <!-- GitHub -->
      <a href="https://github.com/{{ site.github }}">
          <img src="https://github.githubassets.com/favicons/favicon.png" height="16" width="16" style="vertical-align: middle;padding-right:5px;">  
          <span style="vertical-align: middle;"> GitHub </span><br>
      </a>

    <!-- Email -->
      <a href="mailto:{{ site.email }}">
          <img src="/assets/img/email_icon.png" height="16" width="16" style="vertical-align: middle;padding-right:5px;">  
          <span style="vertical-align: middle;"> Email </span>
      </a>
    </div>

</div>

<!-- Mobile Layout -->

<div class="small_header">
   
      <nav>
         <h2 id="page-top"><a href="{{ "/" | absolute_url }}" style="font-weight:500px;font-size:28px;font-style:italic;padding-right:40px;">{{ site.title | default: site.github.repository_name }}</a></h2>
          <h3>
            <a href="{{ site.baseurl }}/" style="padding-right:20px;">Home</a>
            <a href="{{ site.baseurl }}/posts/" style="padding-right:20px;">Posts</a>
            <a href="{{ site.baseurl }}/about/" style="padding-right:20px;">About</a>
          </h3>
      </nav>
</div>

