<h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

{% if site.headshot %}
  <img src="{{site.headshot | relative_url}}" alt="Headshot" />
{% endif %}

<div class="row">
    <div class="col1"> 
      <span style="vertical-align: middle;"> {{ site.jobtitle }} at </span>
    </div>
</div>

<div class="row">
  <a href="{{ site.company_url }}">
    <div class="col1"> 
      <img src="/assets/img/company_icon.png" height="16" width="16" style="vertical-align: middle;">  
      <span style="vertical-align: middle;"> {{ site.company_name }} </span>
    </div>
  </a>
</div>

<div class="row">
  <div class="col1"> 
    <img src="/assets/img/place_icon.png" height="16" width="16" style="vertical-align: middle;">  
    <span style="vertical-align: middle;"> {{ site.location }} </span>
  </div>
</div>

{% if site.email %}<a href="mailto:{{ site.email }}" class="header-social" Email</a>{% endif %}<br>
{% if site.linkedin %}<a href="https://www.linkedin.com/in/{{ site.linkedin }}" class="header-social" LinkedIn</a>{% endif %}<br>
{% if site.twitter %}<a href="https://twitter.com/{{ site.twitter }}" class="header-social" Twitter </a>{% endif %}<br>
{% if site.github %}<a href="https://github.com/{{ site.github }}" class="header-social" GitHub </a>{% endif %}
