<h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

{% if site.headshot %}
  <img src="{{site.headshot | relative_url}}" alt="Headshot" />
{% endif %}

<div class="row">
    <div class="col1"> 
      <span style="vertical-align: middle;"> {{ site.jobtitle }} at </span>
    </div>
</div>

<div class="row">
  <a href="{{ site.company_url }}">
    <div class="col1"> 
      <img src="/assets/img/company_icon.png" height="16" width="16" style="vertical-align: middle;">  
      <span style="vertical-align: middle;"> {{ site.company_name }} </span>
    </div>
  </a>
</div>

<div class="row">
  <div class="col1"> 
    <img src="/assets/img/place_icon.png" height="16" width="16" style="vertical-align: middle;">  
    <span style="vertical-align: middle;"> {{ site.place_name }} </span>
  </div>
</div>

<hr style="margin: 0 0 10px;"> 
