
.social {
  display: block;
  margin-bottom: 10px;
  }
}

a.social {
  color: #7b7b7b
}

a.social:hover {
  color:#2b2b2b;
}

body {
  line-height: 1.4;
  font: 18px;
}

nav {
  margin-top: -20px;
  margin-bottom: 30px;
}

.back-to-top {
  display: block;
  clear: both;
  font-size: 0.6em;
  text-transform: uppercase;
  text-align: right;
  text-decoration: none;
}

.link-post {
  line-height: 2;
  font-weight: bold;
}

.dateline {
  margin-top: 0px;
  margin-bottom: 5px;
  font: 11px;
}
