body {
  font-family: "Nunito", "Segoe UI", "Helvetica Neue", sans-serif;
  line-height: 1.4;
}

h1, h2, h3 {
  font-family: "Montserrat", "Helvetica Neue", sans-serif;
  margin-bottom: 0.5em;
  font-weight: 400;
}

p, li {
  font-family: "Nunito", "Segoe UI", "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 1.45;
}

nav {
  margin-top: -30px;
  margin-bottom: 50px;
  text-transform: lowercase;
}

nav a {
  font-size: 18px;
  font-weight: 500;
}

small {
  font-size:12px;
  line-height: 1.2;
}

.social {
  display: block;
  line-height: 2;
  font-size: 14px;
  }
}

.social span {
  padding-left: 5px;
}

.social a {
  color: #7b7b7b;
}

.social a:hover {
  color:#2b2b2b;
}

.back-to-top {
  display: block;
  clear: both;
  font-size: 0.8em;
  text-transform: uppercase;
  text-align: right;
  text-decoration: none;
}

a.link-post {
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: bold;
}

p.dateline {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 13px;
}

@media print, screen and (min-width: 1160px) {
  header {
    display:block;
  }

  div.small_header {
    display:none;
  }
}

@media print, screen and (max-width: 1160px) {

  div.wrapper {
    width:auto;
    margin:0;
  }
    
  section, footer {
    float:none;
    position:static;
    width:auto;
  }

  div.small_header {
    display:flex;
  }
  
  .webpage-header, .webpage-nav {
    display:none;
  }
    
  section {
    border:1px solid #e5e5e5;
    border-width:1px 0;
    padding:20px 0;
    margin:0 0 20px;
  }
    
}
