@font-face {
  font-family: "Source Serif Pro";
  src: url("../fonts/SourceSerifVariable-Roman.otf") format('otf-variations');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Source Serif Pro";
  src: url("../fonts/SourceSerifVariable-Italic.otf") format('otf-variations');
  font-weight: 100 900;
  font-style: italic;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/SourceSans3VF-Roman.otf") format('otf-variations');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/SourceSans3VF-Italic.otf") format('otf-variations');
  font-weight: 100 900;
  font-style: italic;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.5;
  color:#444444;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga' on, 'clig' on, 'dlig' off;
  border-top-width: 5px;
  border-top-color: #883364;
  border-top-style: solid;
  margin: 0px 0px 0px 0px;
  padding: 50px 58px 58px 58px;
  
}

h1, h2, h3 {
  line-height: 1.1;
}

h1 {
  font-weight: 700;
  font-size: 36px;
  font-style: italic;
}

h2 {
  font-weight: 500;
  font-size: 28px;
  font-style: italic;
}

h3 {
  font-weight: 500;
  font-size: 24px;
}

p, li {
  font-family: "Source Sans Pro", "Segoe UI", "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 1.55;
}

code {
  font-family: "Source Code Pro", Lucida Console, monospace;
}

a {
  color: #444444;
}

a:hover, a:active, a:focus {
  color: #883364;
  text-decoration: underline;
  font-weight: inherit;
}

section {
  width:550px;
}

article {
  margin-top: 30px;
  margin-bottom: 30px;
}


nav a {
  font-size: 20px;
}

.nav-page-name {
  padding-right: 20px;
  text-transform: lowercase;
}

p a {
  font-weight: 500;
  color: #2455c3;
}

small {
  font-size:12px;
  line-height: 1.2;
}

.social {
  display: block;
  line-height: 2;
  font-size: 14px;
  }
}

.social a {
  color: #7b7b7b;
}

.social a:hover {
  color:#2b2b2b;
}

.back-to-top {
  display: block;
  clear: both;
  font-size: 0.9em;
  text-transform: lowercase;
  text-align: right;
  text-decoration: none;
  color: #883364;
}

.link-post {
  margin-bottom: 3px;
}

.dateline {
  font-size: 13px;
  color: #818181;
  margin-bottom: 15px;
  display: inline-block;
}

.dateline a {
  color: #818181;
}

.year-section {
  color: #883364;
  border-top-width: 2px;
  border-top-color: #883364;
  border-top-style: solid;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 18px;
}

.tags-expo-list {
  margin-top: 20px;
  margin-bottom: 20px;
}

.post-tag {

}

.tag-header {
  margin-top: 17px;
  margin-bottom: 18px;
}

.tags-expo-posts {

}

.tags-expo-posts article {
  margin-bottom: 0px;
  margin-top: 0px;
}

@media print, screen and (min-width: 1060px) {
  
  nav {
    margin-top: -30px;
    margin-bottom: 50px;
  }
  
  header {
    display:block;
  }

  div.small_header {
    display:none;
  }
  
  div.small-footer {
    display:none;
  }
}

@media print, screen and (max-width: 1060px) {
  
  p, li {
  font-size: 17px;
  }
  
  div.wrapper {
    width:auto;
    margin:0;
  }
    
  section, footer {
    float:none;
    position:static;
    width:auto;
  }

  div.small_header {
    display:flex;
    margin-bottom: 10px;
  }
  
  .webpage-header, .webpage-nav {
    display:none;
  }
  
  .webpage-footer {
    display:none;
  }
    
  section {
    border:1px solid #e5e5e5;
    border-width:1px 0;
    padding:20px 0;
    margin:0 0 20px;
  }
    
}

@media print, screen and (max-width: 480px) {

  body {
    padding: 23px;
  }
