<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% include head.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        {% include page-header.html %}
      </header>
      
      <section>
        
      <nav class="webpage-nav">
        <h3>
          <a id="page-top" class="nav-page-name" href="{{ site.baseurl }}/posts/" style="padding-right:25px;">Posts</a>
          <a class="nav-page-name" href="{{ site.baseurl }}/about/" style="padding-right:25px;">About Me</a>
        </h3>
      </nav>
        
        <h1 id="page-title" style="font-weight:500; font-style:normal;">{{ page.title }}</h1>
        <p class="dateline">{{ page.date | date: "%-d %b %Y" }}</p>

        <article> 
          
        {{content}}

        </article>
        
        {% if post.tags %}
          <small>tags: <em>{{ post.tags | join: "</em> - <em>" }}</em></small>
        {% endif %}
        
        <a href="#page-top" class="back-to-top">Back to Top ↑</a>
        
      </section>
      
      <footer>
        {% include footer.html %}
      </footer>
      
    </div>
  </body>
</html>
